{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}ورود{% endblock %}

{% block content %}
    <br>
    <br>
    <div class="container">
        <div class="login-form">

            <form method="POST" action="{% url 'account_login' %}">

                {% csrf_token %}
                <h2 class="text-center">ورود</h2>
                <br>
                <div class="text-center social-btn">

                    {% get_providers as socialaccount_providers %}
                    {% if socialaccount_providers %}

                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}

                        {% include "socialaccount/snippets/login_extra.html" %}

                    {% endif %}

                </div>
                <hr>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" name="login" placeholder="نام کاربری یا پست الکترونیک"
                               autofocus="autofocus" required="" id="id_login">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" class="form-control" name="password" placeholder="رمزعبور"
                               required="" id="id_password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="checkbox" name="remember" id="id_remember">
                        <label for="id_remember">یادآوری؟</label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block login-btn">ورود</button>
                </div>
                <div class="clearfix">
                    <a class="pull-right text-success"
                       href="{% url 'account_reset_password' %}">رمز عبور خود را فراموش کرده اید؟</a>

                </div>

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
            </form>
            <div class="hint-text small"> حساب ندارید ؟ <a href="{{ signup_url }}" class="text-success">ساخت حساب</a>
            </div>
        </div>

    </div>
    <style type="text/css">
        .login-form {
            width: 340px;
            margin: 30px auto;
        }

        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .login-form h2 {
            margin: 0 0 15px;
        }

        .login-form .hint-text {
            color: #777;
            padding-bottom: 15px;
            text-align: center;
        }

        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }

        .login-btn {
            font-size: 15px;
            font-weight: bold;
        }

        .or-seperator {
            margin: 20px 0 10px;
            text-align: center;
            border-top: 1px solid #ccc;
        }

        .or-seperator i {
            padding: 0 10px;
            background: #f7f7f7;
            position: relative;
            top: -11px;
            z-index: 1;
        }

        .social-btn .btn {
            margin: 10px 0;
            font-size: 15px;
            text-align: left;
            line-height: 24px;
        }

        .social-btn .btn i {
            float: left;
            margin: 4px 15px 0 5px;
            min-width: 15px;
        }

        .input-group-addon .fa {
            font-size: 18px;
        }
    </style>
{% endblock %}
