{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
            {#<li>#}
            <a title="{{ brand.name }}"
               class="btn btn-danger btn-block text-center"
               href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
            ><b>{{ brand.name }}</b> ورود با </a>
            {#            <a href="#" class="btn btn-danger btn-block"><i class="fa fa-google"></i> Sign in with <b>Google</b></a>#}

            {#</li>#}
        {% endfor %}
    {% endif %}
    {#<li>#}
    <a title="{{ provider.name }}" class="btn btn-danger btn-block text-center"
       href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"><b>{{ provider.name }}</b> ورود با </a>

    {#</li>#}
{% endfor %}
