{% extends "base.html" %}
{% block head_title %}
    حذف دوره
{% endblock %}
{% block content %}
    <div class="container text-right">
    <h1>حذف دوره "{{ object.title }}"</h1>
    <div class="module">
        <form action="" method="post">
            {% csrf_token %}
            <p>آیا از حذف "{{ object }}" اطمینان دارید ؟</p>
            <input type="submit" class="button" value="تایید">
        </form>
    </div>
    </div>
{% endblock %}