{% extends "base.html" %}

{% block head_title %}
    {% if object %}
        ویرایش دوره {{ object.title }}
    {% else %}
        ایجاد دوره جدید
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container text-right">
    <h1> {% if object %} ویرایش دوره "{{ object.title }}" {% else %} ایجاد دوره جدید {% endif %} </h1>
    <div class="module">
        <h2>اطلاعات دوره</h2>
        <form action="." method="post">
            {{ form.as_p }} {% csrf_token %}
            <p><input type="submit" value="ذخیره دوره"></p>
        </form>
    </div>
    </div>
{% endblock %}