{% extends "base.html" %}

{% block head_title %}
    دوره های من
{% endblock %}

{% block content %}
    <div class="container text-right">
        <h1>
            دوره های من
        </h1>
        <div class="module ">
            <style>
                .module {
                    display: inline-block;
                }

                .module > ul {
                    flex-direction: row;
                }

                .module .course-info {
                    margin: 5px;
                }
            </style>
            <ul class="list-group">
                {% for course in object_list %}
                    <div class="course-info">
                        <li class="list-group-item active"><h3>{{ course.title }}</h3></li>
                        <p>
                        <li class="list-group-item "><a href="{% url 'course_edit' course.id %}">ویرایش</a></li>
                        <li class="list-group-item"><a href="{% url 'course_delete' course.id %}">حذف</a></li>
                        </p>
                    </div>
                {% empty %}
                    <p>
                        شما هنوز دوره ای ایجاد نکرده اید!
                    </p>
                {% endfor %}
            </ul>

            <p>
                <button class="btn-primary" style="border-radius: 3px;">
                    <a href="{% url 'course_create' %}" style="color: whitesmoke">ایجاد دوره</a>
                </button>
            </p>
        </div>
    </div>
{% endblock %}